body {
	margin: 0;
	color: #81C2D6;
	background: white;
	background-attachment: fixed;
	font: 600 16px/18px 'Open Sans',sans-serif;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.text-primary{
	color: #81C2D6 !important;
}
.login-wrap {
	border-radius: 50px;
	width: 100%;
	height: 600px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	max-width: 525px;
	min-height: 600px;
	position: relative;
	box-shadow: 0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-wrap::before {
	border-radius:50px;
	content: "";
	background:url(https://i.ibb.co/ZMC0Xnj/smiling-dentist-clinic.jpg) no-repeat;
	background-size:     cover;
		position: absolute;
		top: -100px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		opacity: 0.3;
	}
.login-html{
	border-radius:50px;
	width:100%;
	height:600px;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(40,57,101,.5);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	-webkit-backface-visibility:hidden;
	        backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#CF484C;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color: rgba(255,255,255,.5);
	font-size:12px;
}
.login-form .group .button{
	background:#CF484C;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#CF484C;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:30px 0 30px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}

.modal{
    max-height: 90% !important;
    width: 400px !important;
}

.modal-content h4 {
    width: 100%;
    margin: 0px !important;
    text-indent: 18px;
    text-align: center;
    font-size: 1.8rem;
    padding-bottom: 40px;
    padding-top: 25px;
}

.modal .modal-content {
    height: 250px;
		background-color: rgba(255,255,255,0.9);
    padding: 10px !important;
}

.modal .modal-content .form-group {
    top: 30px;
}

.modal .modal-content .form {
    width: 95%;
}

.modal .modal-footer{
    position: relative;
		left:-50px;
    top: -70px;
    float: none;
    width: 50%;
    margin: auto;
}

a.modal-trigger {
    position: relative;
    top: 2px;
    left: 0px;
}
#login-content #modal1 h5 {
    position: absolute;
    left: 30px;
    top: 69px;
    font-size: 1rem;
}
#login-content #modal2 h5 {
    position: absolute;
    left: 30px;
    top: 69px;
    font-size: 1rem;
}

a#cancel-btn:hover {
    color: #CF484C;
}

a#cancel-btn {
    width: 100%;
    margin: auto;
    float: none;
    text-align: center;
}
