{%load static%}
<!DOCTYPE html>
<html lang="en" >
<link rel="stylesheet" href={%static "hospital_hub/assets/css/bootstrap.css"%}>
<link rel="stylesheet" href={%static "hospital_hub/assets/css/maicons.css"%}>
<link rel="stylesheet" href={%static "hospital_hub/assets/css/doctor-register.css"%}>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Baloo+Paaji">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap">
<link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Open+Sans:600'>
<head>
  <meta charset="UTF-8">
  <title>Doctor Register</title>
</head>
<body>
  <div class="back-to-top"></div>
  <header>
    <div class="topbar">
        <div class="row">
          <div class="col-sm-6 text-sm">
            <div class="site-info">
              <a href="#"><span class="mai-call text-primary"></span> +20 1013421486</a>
              <span class="divider">|</span>
              <a href="#"><span class="mai-mail text-primary"></span> HospitalHub@gmail.com</a>
            </div>
          </div>
          <div class="col-sm-3   text-right text-sm">
            <div class="social-mini-button">
              <a href="#"><span class="mai-logo-facebook-f"></span></a>
              <a href="#"><span class="mai-logo-twitter"></span></a>
              <a href="#"><span class="mai-logo-dribbble"></span></a>
              <a href="#"><span class="mai-logo-instagram"></span></a>
            </div>
          </div>
        </div> <!-- .row -->
      </div> <!-- .container -->
    </div> <!-- .topbar -->
<!-- partial:index.partial.html -->

      <div class="row" >
  <div class="col-5 col-offset-1" style="margin:auto;  display:block;">
    <img src="https://i.ibb.co/mvW0dsC/logo.png" width="80%" >
  </div>
  <div class="col-6">
<div class="login-wrap">
  <form method = "POST" enctype="multipart/form-data">
    {%csrf_token%}
    <div class="login-html">
      <input id="tab-2" type="radio" name="tab" class="sign-up" checked><label for="tab-2" class="tab">Register as Doctor</label>
      <div class="login-form">
        <div class="sign-up-htm">
        <div>{%if message%} {{message}} {%endif%}</div>
        <div class="group">
          <label for="user" class="label">Username</label>
          <input id="user" type="text" value="{{username}}" class="input" name = "username">
        </div>
        <div class="group">
          <label for="user" class="label">Full name</label>
          <input id="user" type="text" value="{{full_name}}" class="input" name = "full_name">
        </div>
        <div class="group">
          <label for="user" class="label">Email Address</label>
          <input id="user" type="email" class="input" value="{{email}}" name = "email">
        </div>
        <div class="group">
          <label for="user" class="label">Phone Number</label>
          <input id="user" type="number" class="input" value="{{phone_number}}" name = "phone_number">
        </div>
        <div class="group">
          <label for="user" class="label">Specialty</label>
          <select id="specialties" value = "{{provided_speciality}}" class="input" placeholder="Choose Specialty" name = "speciality">
            {%for speciality in specialities%}
            {% if speciality.id == provided_speciality.id %}
            <option value="{{speciality.id}}" style="background: transparent; color: black;" selected>
                {{speciality}}
            </option>
            {%else%}
            <option value="{{speciality.id}}" style="background: transparent; color: black;">
                {{speciality}}
            </option>
            {%endif%}
            {%empty%}
            <option>No specialties Available</option> 
            {% endfor %}
          </select>  
        </div>

        <div class="group">
          <label for="user" class="label">City</label>
          <select id="city" value="{{provided_city}}" class="input" name="city" style=" color: white;" name="city">
              {%for city in cities%}
              {% if city.id == provided_city.id %}
              <option value="{{city.id}}" style="background: transparent; color: black;" selected>
                  {{city}}
              </option>
              {%else%}s
              <option value="{{city.id}}" style="background: transparent; color: black;">
                  {{city}}
              </option>
              {%endif%}
              {%empty%}
              <option>No Cities Available</option>
              {% endfor %}
            </select>
        </div>
        <div class="group">
          <label for="pass" class="label">Password</label>
          <input id="pass" type="password" class="input" data-type="password" name ="password">
        </div>
        <div class="group">
          <label for="pass" class="label">Confirm Password</label>
          <input id="pass" type="password" class="input" data-type="password" name ="confirm_password">
        </div>
        <div class="group">
          <label for="img" class="label">Profile Image</label>
          <input id="img" type="file" name="image" class="input" accept="image/*">
        </div>
        <div class="group">
          <input type="submit" class="button" value="Sign Up">
        </div>
      </form>
        <div class="hr"></div>
        <div class="foot-lnk">
             <label for="tab-1" style="color:white">Already Member?&nbsp&nbsp</label>
          <a href='{%url 'login'%}'>Signin</a>
        </div>
                <div class="hr"></div>
                            
                <div class="foot-lnk">
  					<h style="color: #fff">Register As User</h>
                <div class="group">
    					<a href="{%url 'patient_register'%}" class="button" style="margin-top:10px; margin-left:100px; width:50%; background-color:#81C2D6"> Register </a>
    				</div>
  				</div>
      </div></div>
	</div>
		
<!-- partial -->

</body>
</html>
