{%extends 'hospital_hub/Doctor/doctor_layout.html'%}
{%load static%}

<head>


  <title>Doctor Dashboard</title>

</head>

















{% block body%}


<header>
  <div class="topbar">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 text-sm">
          <div class="site-info">
            <a href="#"><span class="mai-call text-primary"></span> +20 1013421486</a>
            <span class="divider">|</span>
            <a href="#"><span class="mai-mail text-primary"></span> HospitalHub@gmail.com</a>
          </div>
        </div>
        <div class="col-sm-4 text-right text-sm">
          <div class="social-mini-button">
            <a href="#"><span class="mai-logo-facebook-f"></span></a>
            <a href="#"><span class="mai-logo-twitter"></span></a>
            <a href="#"><span class="mai-logo-dribbble"></span></a>
            <a href="#"><span class="mai-logo-instagram"></span></a>
          </div>
        </div>
      </div> <!-- .row -->
    </div> <!-- .container -->
  </div>
  <nav class="navbar navbar-expand-lg navbar-light shadow-sm">
    <div class="container">
      <img src="../assets/img/logo2.png" alt="" style="width:20px;">
      <a style="color:#81C2D6" class="navbar-brand" href="#"><span class="text-primary2">Hospital</span>Hub </a>
      <h5 class="font-weight-normal" style=" margin:0px; margin-left:250px;">{{request.user.email}}</h5>



      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupport"
        aria-controls="navbarSupport" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupport">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{%url 'doctor_dashboard'%}">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'doctor_profile'%}"> Profile </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'doctor_logout'%}">Logout</a>
          </li>
        </ul>
      </div> <!-- .navbar-collapse -->
    </div> <!-- .container -->
  </nav> <!-- .topbar -->
</header>








<div class="page-banner overlay-dark bg-image"
  style="background-image: url(../../../static/hospital_hub/assets/img/bg_image_1.jpg);">4
  <div class="banner-section">
    <div class="container text-center wow fadeInUp">
      <h1 class="font-weight-normal" style="margin-bottom:0px;">Dr. {{request.user.full_name}}</h1>
      <h5 class="font-weight-normal">{{doctor.speciality}}</h5>
      <nav aria-label="Breadcrumb">
        <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0 mb-2">
          <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
        </ol>
      </nav>
      <h1 class="font-weight-normal">Appointments</h1>
    </div> <!-- .container -->
  </div> <!-- .banner-section -->
</div> <!-- .page-banner -->


















<div class="page-section bg-light" style="padding:0px;">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-lg-12">
        <hr style=" margin-top: 20px;margin-bottom: 20px;border: 0;border-top: 1px solid #eeeeee;" />
        <br />



          
                            {%if is_notified%}
                        
                            <div class="modal fade show  d-block  " id="confirm" tabindex="-1" 
                            role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document" >
                            <div class="modal-content" style="width:120%;">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Employment Confirmation</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:#CF484C;">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                {{doctor.hospital}} Sent you and Employment request.
                                
                                </div>
                                
                                <div class="modal-footer">
                                
                                 <a class="btn btn-primary" href="{% url 'doctor_employment_success' doctor_name=request.user.username %}"  value="Save" style="background: #81C2D6  ;">Confirm</a>
                                <a class="btn btn-primary" href="{% url  'doctor_employment_failure'  doctor_name=request.user.username  %}"  value="remove" style="background: rgba(207, 72, 76, 0.8)  ;">Delete</a>
                                

                                </div>
                                

                                          
                            </div>
                            </div>
                        </div>


{%endif%}




        <h3 class="font-weight-bold">Today's Appointments</h3>
        {%if appointments%}
        <div class="row">
            
          {%for appointment in appointments%}
          <div class="col-md-4 col-lg-4 py-3 wow zoomIn">
            <div class="wrapper">
              <div class="profile-card js-profile-card">
                <div class="profile-card__img" style="box-shadow: 0px 0px 0px 7px rgba(207, 72, 76, 0.9) ;">
                  <img src="{{appointment.patient.my_account.image.url}}" alt="profile card">
                </div>

                <div class="profile-card__cnt js-profile-cnt">
                  <div class="profile-card__name">{{appointment.patient.my_account.full_name}}</div>
                  <div class="profile-card__txt">{{appointment.patient.my_account.email}}</div>
                  <div class="profile-card-loc">
                  </div>

                  <div class="profile-card-inf" style="margin-top:5px">
                    <div class="profile-card-inf__item">
                      <div class="profile-card-inf__txt"># appt. no</div>
                      <div class="profile-card-inf__title">{{appointment.patient_no}}</div>
                    </div>


                    <div class="">
                      <button class="profile-card__button button--blue" style="margin: 0px 35px; padding:5px;">
                        <a style="color: white"
                          href="{%url 'doctor_viewRecord' patient_name=appointment.patient.my_account.username%}">
                          My Medical Records
                        </a>
                      </button>

                      <button class="profile-card__button button--orange js-message-btn"
                        style="margin: 30px 35px; padding:5px;">
                        <a style="color: white"
                          href="{%url 'doctor_view_history' patient_name=appointment.patient%}">
                          Medical History
                        </a></button>
                    </div>
                  </div>

                  <div class="profile-card-message js-message">
                    <form class="profile-card-form">
                      <div class="profile-card-form__container">
                        <textarea placeholder="Say something..."></textarea>
                      </div>

                      <div class="profile-card-form__bottom">
                        <input type="submit" class="profile-card__button button--blue js-message-close" value="Send">

                        <button class="profile-card__button button--gray js-message-close">
                          Cancel
                        </button>
                      </div>
                    </form>

                    <div class="profile-card__overlay js-message-close"></div>
                  </div>

                </div>

              </div>
            </div>
          </div>


          {%endfor%}
        </div>
        {%else%}

        <h3 class="font-weight-normal">&nbsp&nbsp No Incoming Appointments for today.</h3>

        {%endif%}
        <hr />
      </div>

      <br />
    </div>
    <h3 class="font-weight-bold">Appointments Pending Tests Resutls</h3>

    {%if pending%}
    <div class="row">
      {%for pend in pending%}
      <div class="col-md-4 col-lg-4 py-3 wow zoomIn">
        <div class="wrapper">
          <div class="profile-card js-profile-card">
            <div class="profile-card__img" style="box-shadow: 0px 0px 0px 7px rgba(255, 204, 0, 0.5) ;">
              <img src="{{pend.patient.my_account.image.url}}" alt="profile card">
            </div>

            <div class="profile-card__cnt js-profile-cnt">
              <div class="profile-card__name">{{pend.patient.my_account.full_name}}</div>
              <div class="profile-card__txt">{{pend.patient.my_account.email}}</div>
              <div class="profile-card-loc">
              </div>




                <div class="profile-card-inf" style="visibility:hidden ;margin-top:5px">
                    <div class="profile-card-inf__item">
                      <div class="profile-card-inf__txt"># in queue</div>
                      <div class="profile-card-inf__title">0</div>
                    </div></div>


              <div class="profile-card-inf" style="margin-top:5px">
                <div class="">
                  <button class="profile-card__button button--blue" style="margin: 0px 35px; padding:5px;">
                    <a style="color: white"
                      href="{%url 'doctor_viewRecord' patient_name=pend.patient.my_account.username%}">
                      My Medical Records
                    </a></button>
                    <button class="profile-card__button button--orange js-message-btn"
                        style="margin: 30px 35px; padding:5px;">
                        <a style="color: white"
                          href="{%url 'doctor_view_history' patient_name=pend.patient.my_account.username%}">
                          Medical History
                        </a></button>
                </div>
              </div>

              <div class="profile-card-message js-message">
                <form class="profile-card-form">
                  <div class="profile-card-form__container">
                    <textarea placeholder="Say something..."></textarea>
                  </div>

                  <div class="profile-card-form__bottom">
                    <input type="submit" class="profile-card__button button--blue js-message-close" value="Send">

                    <button class="profile-card__button button--gray js-message-close">
                      Cancel
                    </button>
                  </div>
                </form>

                <div class="profile-card__overlay js-message-close"></div>
              </div>

            </div>

          </div>
        </div>
      </div>
      {%endfor%}

    </div>
    {%else%}
    <h3 class="font-weight-normal">&nbsp&nbsp No Incoming Appointments for today.</h3>

    {%endif%}
    <hr />
    <h3 class="font-weight-bold">Done Appointments</h3>

    {%if done %}
    <div class="row">
      {%for appointment in done%}

      <div class="col-md-4 col-lg-4 py-3 wow zoomIn">
        <div class="wrapper">
          <div class="profile-card js-profile-card">
            <div class="profile-card__img" style="box-shadow: 0px 0px 0px 7px rgba(57, 193, 108, 0.7) ;">
              <img src="{{appointment.patient.my_account.image.url}}" alt="profile card">
            </div>

            <div class="profile-card__cnt js-profile-cnt">
              <div class="profile-card__name">{{appointment.patient.my_account.full_name}}</div>
              <div class="profile-card__txt">{{appointment.patient.my_account.email}}</div>
              <div class="profile-card-loc">
              </div>

                
                <div class="profile-card-inf" style="visibility:hidden ;margin-top:5px">
                    <div class="profile-card-inf__item">
                      <div class="profile-card-inf__txt"># in queue</div>
                      <div class="profile-card-inf__title">0</div>
                    </div></div>



              <div class="profile-card-inf" style="margin-top:5px">
                <div class="">
                  <button class="profile-card__button button--blue" style="margin: 0px 35px; padding:5px;">
                    <a style="color: white"
                      href="{%url 'doctor_viewRecord' patient_name=appointment.patient.my_account.username%}">
                      My Medical Records
                    </a></button>
                  <button class="profile-card__button button--orange js-message-btn"
                        style="margin: 30px 35px; padding:5px;">
                        <a style="color: white"
                          href="{%url 'doctor_view_history' patient_name=appointment.patient.my_account.username%}">
                          Medical History
                        </a></button>
                </div>
              </div>

              <div class="profile-card-message js-message">
                <form class="profile-card-form">
                  <div class="profile-card-form__container">
                    <textarea placeholder="Say something..."></textarea>
                  </div>

                  <div class="profile-card-form__bottom">
                    <input type="submit" class="profile-card__button button--blue js-message-close" value="Send">

                    <button class="profile-card__button button--gray js-message-close">
                      Cancel
                    </button>
                  </div>
                </form>

                <div class="profile-card__overlay js-message-close"></div>
              </div>

            </div>

          </div>
        </div>
      </div>

      {%endfor%}
      {%else%}
      <div>
        <h3 class="font-weight-normal">&nbsp&nbsp No Appointments in this section</h3>
      </div>
    </div>

    {%endif%}
    <hr />

  </div>
</div> <!-- .container -->
</div> <!-- .page-section -->
{%endblock%}
