


    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:400,500,700&subset=latin-ext">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  
<div style="margin:10px">
    
<h3>Hey {{name}},</h3>
<div>
    {{hospital_name}} is trying to send you an employment request. choose one of the options below.
</div>

<div>
    <span style="margin:20px"><a href="{%url 'doctor_employment_success'  doctor_name=username admin_email=admin_email  %}">Accept</a></span>
    <span style="margin:20px"><a href="{%url 'doctor_employment_failure'  doctor_name=username admin_email=admin_email  %}">Reject</a></span>
</div>
</div>