{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'hospital_hub/assets/css/bootstrap.css'%} ">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Paaji" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'hospital_hub/assets/css/maicons.css'%} ">
    <link rel="stylesheet" href="{% static 'hospital_hub/assets/css/add_doctor2.css'%}">
    <link rel="stylesheet" href="{% static 'hospital_hub/assets/css/add admin.css'%}">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register As owner</title>
</head>

<body>
    <!-- Back to top button -->
    <div class="back-to-top"></div>
    <header>
        <div class="topbar">
            <div class="row">
                <div class="col-md-15 text-sm">
                    <div class="site-info">
                         <a href="{%url 'admin_home'%}"><span class="mai-home text-primary"></span> Home</a>
                    <span class="divider">|</span>
                        <a href="#"><span class="mai-call text-primary"></span> +20 1013421486</a>
                        <span class="divider">|</span>
                        <a href="#"><span class="mai-mail text-primary"></span> HospitalHub@gmail.com</a>
                    </div>
                </div>
                <!--<div class="col-md-10 text-right text-sm" >
                    <div class="social-mini-button">
                        <a href="#"><span class="mai-logo-facebook-f"></span></a>
                        <a href="#"><span class="mai-logo-twitter"></span></a>
                        <a href="#"><span class="mai-logo-dribbble"></span></a>
                        <a href="#"><span class="mai-logo-instagram"></span></a>
                    </div>
                </div>-->
            </div> <!-- .row -->
        </div> <!-- .container -->
    </header>


    <div class="container">
            
            
        <form class="well form-horizontal" method="post" id="contact_form">
              
            {% csrf_token %}

            <fieldset>
                <!-- Form Name -->
                <legend>
                    <center>
                        <h2><b>Registration for a new Owner</b></h2>
                    </center>
                </legend><br>
                {%if alreadyused%}
                        <h6 style="color:darkred">{{alreadyused}}</h6>
                    {%endif%}
                <div class="form-group">
                    <label class="col-md-4 control-label">Username</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input value="{{username}}" name="username" placeholder="Username" class="form-control" type="text" required>
                        </div>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label">Full Name</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input value="{{full_name}}"name="full_name" placeholder="Full Name" class="form-control" type="text" required>
                        </div>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label">E-Mail</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input value="{{email}}"name="email" placeholder="E-Mail Address" class="form-control" type="email" required>
                        </div>
                    </div>
                </div>
                <!-- Text input-->


                <div class="form-group">
                    <label class="col-md-4 control-label">Password</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input value="{{password}}" name="password" placeholder="Password" class="form-control" type="password"
                                required>
                        </div>
                    </div>
                </div>

                <!-- Text input-->

                <div class="form-group">
                    <label class="col-md-4 control-label">Confirm Password</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input name="confirm_password" placeholder="Confirm Password" class="form-control"
                                type="password" required >
                        </div>
                        
                    </div>
                    {%if mustmatch %}
                    <br />
                    <h6 style="color:darkred">{{mustmatch}}</h6>
                    {%endif%}
                </div>
                 



                <!-- Text input-->

                <div class="form-group">
                    <label class="col-md-4 control-label">Contact No.</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                            <input name="phone_number" placeholder="+20"
                                    class="form-control" type="text">
                        </div>
                    </div>
                </div>
                <h4>{{hospital}}</h4>
                <br>
                <div>
                    <label for="exampleFormControlSelect1" class="col-md-4 control-label">City</label>
                    <div class="form-group">
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <select class="form-control" id="inputState" name="city" required>
                                    {%for city in cities%}
                                    {% if city.id == provided_city.id %}
                                    <option value="{{city.id}}" selected>{{city}}</option>
                                    {%else%}
                                    <option value="{{city.id}}">{{city}}</option>
                                    {%endif%}
                                    {%empty%}
                                    <option >No Cities Available</option>
                                    {% endfor %}
                                    
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- list input-->

                <!-- Button -->
                <div class="form-group">
                    <div class="col-md-4"><br>
                        <button type="submit" class="btn btn-warning"><span class="glyphicon glyphicon-send">SUBMIT
                            </span> </button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
    </div><!-- /.container -->
</body>

</html>