<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="../assets/css/bootstrap.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Baloo+Paaji" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../assets/css/maicons.css">
  <link rel="stylesheet" href="../assets/css/add_doctor2.css"><link rel="stylesheet" href="../assets/css/specializations preview-1.css">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

  <!-- Back to top button -->
  <div class="back-to-top"></div>
  <header>
    <div class="topbar">
        <div class="row">
          <div class="col-sm-8 text-sm">
            <div class="site-info">
              <a href="#"><span class="mai-call text-primary"></span> +20 1013421486</a>
              <span class="divider">|</span>
              <a href="#"><span class="mai-mail text-primary"></span> HospitalHub@gmail.com</a>
            </div>
          </div>
          <div class="col-sm-4 text-right text-sm">
            <div class="social-mini-button">
              <a href="#"><span class="mai-logo-facebook-f"></span></a>
              <a href="#"><span class="mai-logo-twitter"></span></a>
              <a href="#"><span class="mai-logo-dribbble"></span></a>
              <a href="#"><span class="mai-logo-instagram"></span></a>
            </div>
          </div>
        </div> <!-- .row -->
      </div> <!-- .container -->
    </div> <!-- .topbar -->
    <div class="container">

        <form class="well form-horizontal" action=" " method="post"  id="contact_form">
    <fieldset>
<!-- Form Name -->
<legend><center><h2><b>Add new specialization</b></h2></center></legend><br>    
<!-- <div class="form-group">
    <label class="col-md-4 control-label">Specilaization Name</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    <input  name="Specilaization" placeholder="Specilaization Name" class="form-control"  type="text">
      </div>
    </div>
  </div>
Text input -->

<br>
<div>
<label for="exampleFormControlSelect1" class="col-md-4 control-label">Specilaization</label>
<div class="form-group">
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <select class="form-control" id="inputState" name="specialization" required>
    <option>Heart</option>
    <option>Brain</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
  </select>
    </div>
  </div>
</div>
</div>


<!-- <div class="form-group">
    <label class="col-md-4 control-label">Available day</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    <select name="Available day" class="form-control selectpicker">
        <option value="">Select the day</option>
        <option>Saturday</option>
        <option>Sunday</option>
        <option >Monday</option>
        <option >Tuesday </option>
        <option >Wednesday </option>
        <option >Thursday </option>
        <option >Friday </option>
      </select>
    </div>
  </div>
  </div>
  <div class="form-group">
    <label class="col-md-4 control-label">Available times</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    <select name="Available times" class="form-control selectpicker">
        <option value="">Select the time</option>
        <option>8:00 AM / 10:00 AM</option>
        <option>12:00 PM / 2:00 PM</option>
        <option >4:00 PM / 6:00 PM</option>
        <option >8:00 PM / 10:00 PM </option>
      </select>
    </div>
  </div>
  </div> 
   <div class="form-group"> 
    <label class="col-md-4 control-label">Specilaization Doctor</label>
      <div class="col-md-4 selectContainer">
      <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
      <select name="specilaization" class="form-control selectpicker">
        <option value="">Select the Doctor</option>
        <option>Dr. Komsry</option>
        <option>Dr. Gira</option>
        <option >Dr. Sweefy</option>
        <option >Dr. Yasser </option>
        <option >Dr. Anas</option>
        <option >Dr. Rizk</option>
        <option >Dr. Farah</option>
      </select>
    </div>
  </div>
  </div>
     -->
  <!-- Text input-->
 <!--  
  <div class="form-group">
    <label class="col-md-4 control-label">Department contanct number</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    <input  name="number" placeholder="Department contact number" class="form-control"  type="text">
      </div>
    </div>
  </div>
   -->
  
  <!-- Button -->
  <div class="form-group">
    <label class="col-md-4 control-label"></label>
    <div class="col-md-4"><br>  
        <button type="submit" class="btn btn-warning" >SUBMIT <span class="glyphicon glyphicon-send"></span</button>
    </div>
  </div>
  
  </fieldset>
  </form>
  </div>
      </div><!-- /.container -->
</body>
</html>