{%extends 'hospital_hub/Admin/admin_layout.html'%}
{%load static%}
{%block body%}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{%static 'hospital_hub/assets/css/doctor_profile.css'%}" />
<nav class="navbar navbar-expand-lg navbar-light shadow-sm">
  <div class="container">
    <img src="{%static 'assets/img/logo2.png'%}" alt="" style="width:20px;">
    <a style="color:#81C2D6" class="navbar-brand" href="#"><span class="text-primary2">Hospital</span>Hub </a>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupport"
      aria-controls="navbarSupport" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupport">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
          <a class="nav-link" href="{%url 'admin_home'%}">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link " href="{%url 'view_specialities'%}">Specialities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'admin_view_doctors'%}">Doctors</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{%url 'admin_view_admins'%}">Admins</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{%url 'admin_logout'%}">Logout</a>
        </li>
      </ul>
    </div> <!-- .navbar-collapse -->
    <!-- .navbar-collapse -->
  </div> <!-- .container -->
</nav>

<div class="page-banner overlay-dark bg-image"
  style="background-image: url(../../../static/hospital_hub/assets/img/bg_image_1.jpg);">
  <div class="banner-section">
    <div class="container text-center wow fadeInUp">
      <h1 class="font-weight-normal">🏥{{hospital.name}}🏥</h1>
      <nav aria-label="Breadcrumb">
        <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0 mb-2">
          <li class="breadcrumb-item">
            <a href="{%url 'admin_home'%}">Home</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            <a href="{%url 'admin_view_doctors'%}"> Doctors </a>
          </li>
          <li class="breadcrumb-item active" aria-current="page"> {{account.full_name}} </li>
        </ol>
      </nav>
      <h1 class="font-weight-normal">Dr. {{account.full_name}} </h1>
    </div> <!-- .container -->
  </div> <!-- .banner-section -->
</div> <!-- .page-banner -->

<div class="page-section bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">

        <div class="row" style="display:block">

          <div class="row gutters-sm">
            <div class="col-md-4 mb-4" style="background: white; border-radius:25px;">



              <div class="card ">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="{{account.image.url}}" alt="Admin" class="rounded-circle" width="150" height="150">
                    <div class="mt-3">
                      <h4 style="font-size:auto;">Dr. {{account.full_name}}</h4>
                      <p class="text-secondary mb-1">{{doctor.speciality}}</p>
                      <p class="text-muted font-size-sm mb-3">{{doctor.hospital}}</p>

                      <div class="row align-items-center" style="margin:auto; display:block;">
                        {% for i in '01234'|make_list %}
                        {%if forloop.counter <= total_reviews%} <span class="fa fa-star checked"></span>
                          {%else%}
                          <span class="fa fa-star "></span>
                          {%endif%}
                          {% endfor %}
                      </div>

                      <!-- Change "Pending Appointments" to "Make Appointment"-->
                      <!--<button class="btn btn-primary mt-5 mb-2" style="padding:8px 20px;">Pending Appointments</button>-->

                      <!-- Change "Pending Appointments" to "Make Appointment"-->

                      <br>
                      <!--<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal2" >Add Review </button>-->

                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-8 ">
              <div class="card mb-4">
                <div class="card-body test">



                  <section id="working-time" class="working-time">
                    <div>
                      <p class="text-primary">Weekly Schedule</p>
                    </div>
                    <div>
                      {%if request.GET.message%}
                      <p class="text-secondary">{{request.GET.message}}</p>
                      {%endif%}
                    </div>
                    <div class="container">
                      <!-- .row end -->
                      <div class="row">





                        {%for schedule,abbreviation in schedules %}

                        <div class="col-3 col-sm-3 col-md-3 col-lg-3 mb-2">
                          <div class="time-panel">
                            <h3>{{abbreviation}}</h3>
                            <ul class="list-unstyled mb-0">
                              <li style="color:#CF484C;">{{schedule.start_time|time:"h:i A"}}</li>
                              <li style="color:#81C2D6;">to</li>
                              <li style="color:#CF484C;">{{schedule.end_time|time:"h:i A"}}</li>
                              <li style="color:#AAAAAA; font-size:smaller">{{schedule.price}} EGP </li>

                            </ul>
                          </div>
                          <button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#edit_{{schedule.day}}" style="width:50%;
                                        font-size:12px; padding:0px 0px;">Edit</button>


                        </div>
                        <!-- .time-panel end -->


                        <div class="modal fade" id="edit_{{schedule.day}}" tabindex="-1" role="dialog"
                          aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content" style="width:120%;">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Edit Schedule</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                  style="color:#CF484C;">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                Enter the new schedule for {{schedule.day}} ?
                              </div>

                              <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="command" value="edit_{{schedule.day}}" />

                                <div>

                                </div>
                                <div class="group" style="color: rgba(255,255,255,.5);">

                                  <input class="input" type="time" value="{{schedule.start_time|time:" h:i"}}"
                                    name="new_start" min="00:00" max="23:59" required style="width:40%;">
                                  to
                                  <input class="input" type="time" value="{{schedule.end_time|time:" h:i"}}"
                                    name="new_end" min="00:00" max="23:59" required style="width:40%;" />
                                </div>
                                <br />

                                <div>
                                  price:
                                  <input class="input" type="number" value="{{schedule.price}}" name="new_price"
                                    required style="width:40%;" />
                                </div>
                                <br />
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-primary" data-dismiss="modal"
                                    style="background: rgba(207, 72, 76, 0.8)  ;">Cancel</button>
                                  <input type="submit" class="btn btn-primary" value="Save">
                                </div>
                              </form>


                            </div>
                          </div>
                        </div>
                        {% empty %}
                        <div>

                          <div class="col-sm-12" style="text-align:center;">
                            No scedule set. <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                              data-target="#add">add now</button>
                          </div>
                        </div>

                        {%endfor%}






                      </div>
                      <!-- .row end -->
                    </div>
                    <!-- .container end -->


                  </section>

                    <hr />
                  <div class="row mt-2" >
                    <div class="col-sm-12" style="text-align:center;">
                      <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#edit">Edit</button>
                    </div>
                  </div>

                  <!-- ده اللي هتشال علشان تشيل زرار الايديت-->

                  <!--  ده اللي هتشال علشان تشيل زرار الايديت-->






                  <!--add / remove shedule-->
                  <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content" style="width:120% ;padding:5%">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Edit Schedule</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            style="color:#CF484C;">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          Schedules for Dr. {{doctor.my_account.full_name}}
                        </div>

                        <ul class="list-unstyled mb-0">
                          {%for schedule , abbreviation in schedules %}

                          <li>
                            <section>
                              <div class="container">
                                <div class="row">
                                  <div class="col-sm-9">
                                    <h6 calss="mb-0">{{schedule.day}}</h6>
                                  </div>
                                  <form method="post">

                                    {% csrf_token %}
                                    <input type="hidden" name="command" value="remove_{{schedule.day}}" />
                                    <div class="col-sm-9 text-secondary">
                                      <input type="submit" class="btn-primary"
                                        style="background: rgba(207, 72, 76, 0.8)  " value="Remove" />
                                    </div>
                                  </form>
                                </div>
                              </div>

                            </section>



                            <hr />
                          </li>
                          {%endfor%}



                        </ul>

                        <hr>

                        <div class="row">
                          <div class="col-sm-12" style="text-align:center;">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add">Add new
                              Day</button>
                          </div>
                        </div>


                      </div>
                    </div>
                  </div>




                  <div class="modal fade" id="add" tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content" style="width:120%;padding:5%;">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Edit Schedule</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            style="color:#CF484C;">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          Schedules for Dr. {{doctor.my_account.full_name}}
                        </div>


                        <form style="margin:5%" method="post">
                          {% csrf_token %}
                          <input type="hidden" name="command" value="add_day" />

                          <div>
                            <label for="select_day" class="label" style="text-align:center;">Choose day</label>
                            <select name="to_add" id="select_day" class="input">
                              {%for day in empty_days%}
                              <option>{{day}}</option>
                              {%endfor%}
                            </select>
                          </div>

                          <hr />

                          <label for="start_time" class="label" style="text-align:center;">From</label>
                          <input class="input" type="time" id="start_time" name="start_time" min="00:00" max="23:59"
                            required style="width:40%;">

                          <label for="end_time" class="label" style="text-align:center;">To</label>
                          <input class="input" type="time" id="end_time" name="end_time" min="00:00" max="23:59"
                            required style="width:40%;" />
                          <hr />
                          <div class="group">
                            <label for="price" class="label">Price</label>
                            <input type="number" id="price" name="price" min="0" max="1000" step="5" class="input" />
                          </div>
                          <hr />
                          <label for="count" class="label">Max number of patients per day</label>
                          <input type="number" id="count" name="max_patient_count" min="0" max="25" step="5"
                            class="input" />
                          <hr />

                          <div class="col-sm-9 text-secondary" style="margin-top:5%">
                            <input type="submit" class="btn btn-primary" value="Add" />
                          </div>

                        </form>

                      </div>
                    </div>
                  </div>


















                  <!--Comments section-->
      



                </div>
              </div>
            </div>
          </div>
        </div>
        <!--comments-->


                        <div class="row gutters-sm mb-3" style="background:white;  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.2); border-radius:25px;">
                            <div class="row" style="width:100%; text-align:center; font-size:30px;"> <div class="col-12">Latest Reviews </div> </div>
                            <div class="row">
                                <div class="col-6" style="padding:0px;">
                                    <div class="col-12 mb-3">
                                        <div class="card h-100">
                                            <div class="card-body" style="width:100%;">


                                                {%for review in reviews_left%}
                                                <!-- comment template-->

                                                <div class="row align-items-center">
                                                    <div class="col-2">
                                                        <img src="{{review.patient.my_account.image.url}}" alt="UserProfile" class="rounded-circle" width="40">
                                                    </div>
                                                    <div class="col-3" style="padding-left:0px">
                                                        <div class="row">
                                                            <span style="font-size:12px; text-align:left; "> {{review.patient.my_account.username}} </span>
                                                        </div>
                                                        <div class="row">
                                                            {% for i in '01234'|make_list %}
                                                            {%if forloop.counter <= review.rating %}
                                                            <span class="fa fa-star checked"></span>
                                                            {%else%}
                                                            <span class="fa fa-star "></span>
                                                            {%endif%}
                                                            {% endfor %}
                                                        </div>
                                                        <div class="row">
                                                            <span style="font-size:12px; text-align:left; color: rgba(0,0,0,0.3)"> {{review.created_at.date}} </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-6" style="padding:0px">
                                                        <span style="font-size:13px; text-align:left; ">
                                                            {{review.comment}}
                                                        </span>
                                                    </div>
                                                </div>

                                                {%endfor%}


                                                <div class="row align-items-center" style="visibility:hidden">

                                                    <span style="font-size:10px; text-align:left; "> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt  </span>
                                                </div>






                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6" style="padding:0px;width:900px">
                                    <div class="col-12 mb-3">
                                        <div class="card h-100">
                                            <div class="card-body" style="width:100%;">



                                                {%for review in reviews_right%}
                                                <!-- comment template-->

                                                <div class="row align-items-center">
                                                    <div class="col-2">
                                                        <img src="{{review.patient.my_account.image.url}}" alt="UserProfile" class="rounded-circle" width="40">
                                                    </div>
                                                    <div class="col-3" style="padding-left:0px">
                                                        <div class="row">
                                                            <span style="font-size:12px; text-align:left; "> {{review.patient.my_account.username}} </span>
                                                        </div>
                                                        <div class="row">
                                                            {% for i in '01234'|make_list %}
                                                            {%if forloop.counter <= review.rating %}
                                                            <span class="fa fa-star checked"></span>
                                                            {%else%}
                                                            <span class="fa fa-star "></span>
                                                            {%endif%}
                                                            {% endfor %}
                                                        </div>
                                                        <div class="row">
                                                            <span style="font-size:12px; text-align:left; color: rgba(0,0,0,0.3)"> {{review.created_at.date}}  </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-6" style="padding:0px">
                                                        <span style="font-size:13px; text-align:left; ">
                                                            {{review.comment}}
                                                        </span>
                                                    </div>
                                                </div>

                                                {%endfor%}




                                                <div class="row align-items-center" style="visibility:hidden">
                                                    <span style="font-size:10px; text-align:left; "> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt  </span>
                                                </div>



                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
      </div>
    </div>
  </div>
</div> <!-- .container -->

   <link rel="stylesheet" href="{%static 'hospital_hub/assets/css/doctor_profile.css'%}"/>

{%endblock%}