{%extends 'hospital_hub/Admin/admin_layout.html'%}
{%load static%}
{%block body%}

<header>

    <!--the home/doctors/admins/logout header-->
    <nav class="navbar navbar-expand-lg navbar-light shadow-sm">
        <div class="container">
            <img src="{%static 'hospital_hub/assets/img/logo2.png'%}" alt="" style="width:20px;">
            <a style="color:#81C2D6" class="navbar-brand" href="#"><span class="text-primary2">Hospital</span>Hub </a>



            <div class="collapse navbar-collapse" id="navbarSupport">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="{%url 'admin_home'%}">Home</a>
                    </li>
                       <li class="nav-item">
                            <a class="nav-link" href="{%url 'view_specialities'%}">Specialities</a>
                        </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{%url 'admin_view_doctors'%}">Doctors</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'admin_view_admins'%}">Admins</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'admin_logout'%}">Logout</a>
                    </li>
                </ul>
            </div> <!-- .navbar-collapse -->
        </div> <!-- .container -->
    </nav>
</header>

<div class="page-banner overlay-dark bg-image"
     style="background-image: url(../../../static/hospital_hub/assets/img/bg_image_1.jpg)">
    <div class="banner-section">
        <div class="container text-center wow fadeInUp">
            <span class="subhead">🏥{{hospital_name}}🏥</span>

            <nav aria-label="Breadcrumb">
                <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0 mb-2">
                    <li class="breadcrumb-item"><a href="{%url 'admin_home'%}">Home</a></li>
                    {%if speciality%}
                    <li class="breadcrumb-item"><a href="{%url 'view_specialities'%}">Specialties</a></li>
                    {%endif%}
                    <li class="breadcrumb-item active" aria-current="page">
                        Doctors
                    </li>

                </ol>
            </nav>
            <h1 class="font-weight-normal">
                {%if speciality%}{{speciality}}{%else%}Current Doctors{%endif%}
            </h1>




        </div>
        <!-- .container -->
    </div>
    <!-- .banner-section -->
</div>
<!-- .page-banner -->



<div class="page-section bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="row">

                    {%if doctors%}

                        {% for doctorobj , doctor in doctors %}

                        <div class="col-md-6 col-lg-3 py-3 wow zoomIn">
                            <div class="card-doctor">
                                <div class="header">
                                    <img src="{{doctor.image.url}}" alt="" height="260" style="object-fit: cover;">
                                    <div class="meta" style="text-align:center;">
                                        <a href="{%url 'admin_view_doctor' doctor=doctor.username%}">
                                        <span class="mai-person"></span></a>
                                        <a href="{% url 'remove_doctor_from_speciality' doctor_id=doctorobj.id %}">
                                        <span class="mai-close"></span>
                                        </a>
                                    </div>
                                </div>
                                <div class="body">
                                    <p class="text-x2 mb-0" style="text-align:center;">
                                        {{doctor.username}}
                                    </p>
                                
                                </div>
                            </div>
                        </div>
                        {%endfor%}

                    {%else%}
                    
                    <nav aria-label="Breadcrumb">

                    <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0 mb-2">
                    <li class="breadcrumb-item"><p>No doctors are added yet</p></li>
                    <li class="breadcrumb-item"><a href="{%url 'add_doctor'%}">Add doctors?</a></li>
                    </ol>
                    </nav>

                    {%endif%}

                </div>
            </div>
        </div>
    </div>
    <!-- .container -->
</div>
<!-- .page-section -->

<div class="page-section banner-home bg-image" style="background-image: url(../assets/img/banner-pattern.svg)">
    <div class="container py-5 py-lg-0">
        <div class="row align-items-center">
            <div class="col-lg-12 wow zoomIn">
                <div class="img-banner d-none d-lg-block">
                    <p><img src="../assets/img/logo3.png" alt="Logo" /></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- .banner-home -->
{%endblock%}




<!--
    card item

            <div class="col">
                <div class="card h-100">
                    <img src="src" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="Cardiology">Cardiology</h3>
                        <p class="card-text">
                            <header>
                                <h4>
                                    Doctors
                                </h4>
                            </header>
                        <p class="card-text">Dr. Komsry</p>
                        <h4>
                            Clinical time
                        </h4>
                        <p class="card-text">2:00 PM / 4:00 PM</p>
                        </p>
                    </div>
                </div>
            </div>-->
